<!DOCTYPE html>
<html lang="en">
<head>
  <%- include layouts/head.ejs %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.10.0/mode/javascript/javascript.min.js"></script>
</head>
<body>
<%- include layouts/header.ejs %>

<//div class="container">
<//br/>
<//br/>
<a href="crear" class="btn btn-primary" type="button">Crear un nuevo problema</a>
<a href="tests" class="btn btn-primary">Testear</a>
<//br/>
<//br/>
<div class="row">
  <% for (var i=0; i<Problemas.length; i++)  { %>
   

    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%=Problemas[i].Titulo_problema %></h5>
          <p class="card-text"><%=Problemas[i].Descripcion %></p>

          <td> 
             <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
              <form class="form-inline" method="post" action="/cargaproblemas/editar/"<%=Problemas[i].Id_problema %>"
              <button type="button" class="btn btn-warning">Editar</button>
              </form>
              </div>
           
          
             <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
              <form class="form-inline" method="post" action="/cargaproblemas/eliminar/"<%=Problemas[i].Id_problema %>"
              <button type="button" class="btn btn-danger">Borrar</button>
              </form>
            </div>

          </td>  
          
       

        </div>
        
      </div>

    </div>
    
    <% } %>

</div>

<script>
          
  //var titulo = Problemas[i].Titulo_problema;
  //alert(titulo);
  //var codigo = Problemas[i].Codigo

</script>
  
<%- include layouts/footer.ejs %>
</body>
</html>
 


