<!DOCTYPE html>
<html lang="en">
<head>
  <%- include layouts/head.ejs %>
</head>
<body>
<%- include layouts/header.ejs %>

    
      <h1><%= title %></h1>

     

      <div class="row">
        <% for (var i=0; i<Problemas.length; i++)  { %>
         

          <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><%=Problemas[i].Titulo_problema %></h5>
                <p class="card-text"><%=Problemas[i].Descripcion %></p>

                <script>
                 var titulo = card.querySelector('.card-title').textContent;
                  //var titulo = Problemas[i].Titulo_problema;
                  //alert(titulo);
                  var codigo = Problemas[i].Codigo
                
                </script>
                
                <a href="nosotros" class="btn btn-primary">Resolver</a>

              </div>
              
            </div>

          </div>
          
          <% } %>
      
      </div>
      
     <script>
                
        //var titulo = Problemas[i].Titulo_problema;
        //alert(titulo);
        //var codigo = Problemas[i].Codigo
      
     </script>
        
<%- include layouts/footer.ejs %>
</body>
</html>